{% extends 'portfolio/base_visitor.html' %}
{% block title %}Log In{% endblock %}
{% block login_active %}active{% endblock %}
{% load staticfiles %}
{% block body %}

<div class="container-fluid">

    <div class="row">
        <div class="container">
            <div class="panel panel-default">
                <div class="lead">
				<div class="col-sm-offset-2 col-sm-12">
                    <h3>Log In</h3>
				</div>
                    {% if form.errors %}
                        <div class="error">
                        <p>*Please enter a valid Username or Password</p>
                        </div>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="{% url 'login'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group" >
							<div class="col-sm-offset-2 col-sm-12">
                            <label  for="id_username">Username: </label>&nbsp;&nbsp;&nbsp;&nbsp;
							<input id="id_username" maxlength="30" name="username" type="text">
							</div>
                        </div>

                        <div class="form-group">
							<div class="col-sm-offset-2 col-sm-12">
                            <label for="id_password"> Password :</label>&nbsp;&nbsp;&nbsp;&nbsp;
                            <input id="id_password" maxlength="30" name="password" type="password">
                            </div>
                        </div>
						<br>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-12">
                                <button type="submit" class="btn btn-secondary">Submit</button><br><br>
                                <a href="{% url "social:begin" "google-oauth2" %}"><img src="{% static "images/googlewhite.png" %}" style="width:191px;height:46px;border:0"></a><br/><br/>
                                <a href="{% url "social:begin" "facebook" %}"><img src="{% static "images/facebook.PNG" %}" style="width:240px;height:40px;border:0"></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-offset-2 col-sm-12">
                    <a href="{% url 'password_reset' %}"> Forgot Password ?</a>
                </div>
                <div>
                    <a href="{% url 'blog:register' %}"> Register</a>

                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}